
.header {
    background: $main-black;
    color: #fff;
    padding: 18px 0;

    &_logo {
        margin-right: 40px;
    }

    &_personal {
    margin: 0 30px 0 30px;
    }

    &_inside {
        gap: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    &_left, &_right {
        display: flex;
        align-items: center;
        position: relative;
    }

    &_button {
        @include noborder-nobg;
        position: relative;
        color: #fff;
        font-size: 28px;
        line-height: 28px;

        &:hover .header_svg {
            fill: $main-color;
            transform: scale(1.1);
            transition: 0.2s ease-out 0.1s;
        }
        // &:hover .header_main_menue {
        //     opacity: 1;
        // }
    }

    &_cart {
        position: relative;
        padding: 5px 5px 5px 0;

        &_number {
            position: absolute;
            top: 0;
            right: -5px;
            width: 20px;
            height: 20px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background: $main-color;
            @include text-size-info;
            color: #FFFFFF;
        }
    
    }
    
    &_svg {
        fill: #fff;
        transition: scale 0.5s ease-out 0.5s;
    
        &:hover {
            fill: $main-color;
            transform: scale(1.1);
            transition: 0.2s ease-out 0.1s;
        }
    }
}


// Главное меню

.main_menu_cross {
    display: flex;
    justify-content: space-between;
}

.header_main_menue {
    position: absolute;
    background: #FFFFFF;
    box-shadow: $main-shadow;
    padding: 16px 16px 36px 16px;
    // height: 764px;
    width: 232px;
    z-index: 100;
    top: 61px;
    right: 0;
    // opacity: 0;
    text-transform: uppercase;
}

.header_main_menue_hidden {
    transform: scaleX(0);
}

.main_menu_popup {
    display: block;
    cursor: pointer;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $main-color;
    padding-top: 24px;
    padding-left: 16px;
}

.main_menu_title {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: $main-black;
    padding-left: 16px;
    padding-top: 16px;
}

.main_menu_items {
    list-style: none;
}

.main_menu_link {
    color: $grey-text-mediumlight;
}

.main_menu_item {
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
}

.mmi_padding {
    padding-top: 12px;
    padding-left: 24px;
}

.main_menu_svg {
    cursor: pointer;
    border: none;
    background: transparent;
    fill: $grey-text;
    transform: scale(1);
    transition: 0.2s ease-out 0.2s;

    &:hover {
        fill: $main-color;
        transform: scale(1.1);
        transition: 0.2s ease-out 0.2s;
    }
}
